In [15]:
import pandas as pd
import plotly.graph_objs as go
import datetime

In [2]:
df = pd.read_csv('Covid_data.csv', encoding='utf-8')
df.head()

,continentName,continentEnglishName,countryName,countryEnglishName,provinceName,provinceEnglishName,province_zipCode,province_confirmedCount,province_suspectedCount,province_curedCount,province_deadCount,updateTime,cityName,cityEnglishName,city_zipCode,city_confirmedCount,city_suspectedCount,city_curedCount,city_deadCount
0,北美洲,North America,美国,United States of America,美国,United States of America,971002,869172,0.0,80934,49963,2020-04-24 16:37:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,欧洲,Europe,俄罗斯,Russia,俄罗斯,Russia,964006,68622,0.0,5568,615,2020-04-24 16:37:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,北美洲,North America,加拿大,Canada,加拿大,Canada,971001,42110,0.0,14761,2146,2020-04-24 16:37:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,南美洲,South America,秘鲁,Peru,秘鲁,Peru,973008,20914,0.0,7422,572,2020-04-24 16:37:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,亚洲,Asia,中国,China,台湾,Taiwan,710000,428,343.0,264,6,2020-04-24 14:54:42,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df = df[df['provinceName']=='上海市']

In [13]:
useless_fields = ['continentName','continentEnglishName','countryName',
                  'countryEnglishName', 'province_zipCode']
df = df.drop(useless_fields, axis=1)

In [14]:
import mitosheet
mitosheet.sheet(df, view_df=True)

MitoWidget(analysis_data_json='{"analysisName": "UUID-90ca20ca-42b8-41f6-9f45-6ffa568f3876", "code": {"imports…

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4034 entries, 5 to 149746
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   provinceName             4034 non-null   object
 1   provinceEnglishName      4034 non-null   object
 2   province_confirmedCount  4034 non-null   int64
 3   province_suspectedCount  4034 non-null   float64
 4   province_curedCount      4034 non-null   int64
 5   province_deadCount       4034 non-null   int64
 6   updateTime               4034 non-null   object
 7   cityName                 4022 non-null   object
 8   cityEnglishName          3830 non-null   object
 9   city_zipCode             3761 non-null   float64
 10  city_confirmedCount      4022 non-null   float64
 11  city_suspectedCount      4022 non-null   float64
 12  city_curedCount          4022 non-null   float64
 13  city_deadCount           4022 non-null   float64
dtypes: float64(6), int64(3), object(5)
memory usage: 601.8+ KB

In [30]:
df['updateTime'] = pd.to_datetime(df['updateTime'],
                                  format = '%Y-%m-%d')

In [39]:
df['date'] = df['updateTime'].dt.strftime('%Y-%m-%d')

In [48]:
df_out = df[df['cityName'] == '境外输入']
df_in = df[df['cityName'] != '境外输入']

In [49]:
df_out_sh = df_out.groupby(['date']).sum().reset_index()
df_out_sh = df_out_sh[['date', 'city_confirmedCount', 'city_suspectedCount',
                       'city_curedCount', 'city_deadCount']]

df_in_sh = df_in.groupby(['date']).sum().reset_index()
df_in_sh = df_in_sh[['date', 'city_confirmedCount', 'city_suspectedCount',
                       'city_curedCount', 'city_deadCount']]

In [50]:
df_out_sh

,date,city_confirmedCount,city_suspectedCount,city_curedCount,city_deadCount
0,2020-03-24,75.0,0.0,3.0,0.0
1,2020-03-25,94.0,19.0,3.0,0.0
2,2020-03-26,224.0,19.0,7.0,0.0
3,2020-03-27,258.0,0.0,11.0,0.0
4,2020-03-28,146.0,0.0,7.0,0.0
...,...,...,...,...,...
25,2020-04-19,592.0,8.0,375.0,0.0
26,2020-04-20,598.0,8.0,389.0,0.0
27,2020-04-22,900.0,12.0,601.0,0.0
28,2020-04-23,602.0,8.0,403.0,0.0
29,2020-04-24,604.0,8.0,418.0,0.0

In [51]:
df_in_sh

,date,city_confirmedCount,city_suspectedCount,city_curedCount,city_deadCount
0,2020-01-22,0.0,0.0,0.0,0.0
1,2020-01-23,0.0,0.0,0.0,0.0
2,2020-01-24,0.0,0.0,0.0,0.0
3,2020-01-25,0.0,0.0,0.0,0.0
4,2020-01-26,0.0,0.0,0.0,0.0
...,...,...,...,...,...
87,2020-04-19,678.0,0.0,662.0,14.0
88,2020-04-20,678.0,0.0,662.0,14.0
89,2020-04-22,1017.0,0.0,995.0,21.0
90,2020-04-23,678.0,0.0,662.0,14.0
91,2020-04-24,678.0,0.0,662.0,14.0